/* latin */
@font-face {
    font-family: 'Cedarville Cursive';
    font-style: normal;
    font-weight: 400;
    src: local('Cedarville Cursive'), local('Cedarville-Cursive'), url(https://fonts.gstatic.com/s/cedarvillecursive/v11/yYL00g_a2veiudhUmxjo5VKkoqA-B_nuIrpw4cNOTw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    background-image: url(img/wood.jpg);
    display: flex;
    font-family: 'Cedarville Cursive';
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
}

figure
 {
    margin: 0;

}
img {
    width: 100%;
}

figcaption {
    text-align: center;
    font-size: 14px;
}

.container {
    display: flex;
    width: 800px;
}

.container-first {
    padding-top: 50px;
}

.polaroid {
    background-color: white;
    width: 160px;
    height: 200px;
    padding: 10px 10px 5px 10px;
    box-shadow: 1px 1px 3px #333;
    margin: 10px;
}

.polaroid1 {
    transform: rotate(-10deg);
    transition: transform 0.2s ease-in; /*box-shadow 0.2 ease-in;*/
}

.polaroid2 {
    transform: rotate(15deg);
    transition: transform 0.2s ease-in;
}

.polaroid3 {
    transform: rotate(-20deg);
    transition: transform 0.2s ease-in;
}

.polaroid4 {
    transform: rotate(10deg);
    transition: transform 0.2s ease-in;
}

.polaroid5 {
    transform: rotate(12deg);
    transition: transform 0.2s ease-in;
}

.polaroid6 {
    transform: rotate(-18deg);
    transition: transform 0.2s ease-in;
}

.polaroid7 {
    transform: rotate(17deg);
    transition: transform 0.2s ease-in;
}

.polaroid8 {
    transform: rotate(-14deg);
    transition: transform 0.2s ease-in;
}

.polaroid9 {
    transform: rotate(12deg);
    transition: transform 0.2s ease-in;
}

.polaroid10 {
    transform: rotate(-8deg);
    transition: transform 0.2s ease-in;
}

.polaroid1:hover,
.polaroid2:hover,
.polaroid3:hover,
.polaroid4:hover,
.polaroid5:hover,
.polaroid6:hover,
.polaroid7:hover,
.polaroid8:hover,
.polaroid9:hover,
.polaroid10:hover {
    transform: rotate(0) scale(1.35);
    z-index: 20;
    box-shadow: 0px 0px 6px #333;
}